ul,ol {
    margin: 0;
    padding: 0;
}
li  {
    list-style: none;
}
a {
    transition: .3s;
}
.pcoded-main-top{
	margin-top: 120px;
}
.pcoded-content-body{
	position: relative;
    display: block;
}
.page-header-0, .p-0{
	padding: 0!important;
}
.m-0{
	margin: 0!important;
}
.w-100{
	width: 100%!important;
}
.carousel-inner-h{
	height: 350px;
}
.h4-19{
	font-size: 19px;
}
.text-30{
	font-size: 30px;
}
.l-06{
	line-height: 0.6;
}
.c-b{
	color: black!important;
}
.c-r{
	color: #C70C18;
}
.price-code{
	font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.d-l{
	display: inline;
}
.item-code .d-l{
	color: #acacac;
}
.user-av img{
	width: 25px;
    margin-right: 3px;
}
.fa-star,.fa-star-half-alt {
    color: #F8C125;
}
.demo {
    width: 100%;
    height: 40px;
    /* visibility: hidden; */
    transform: translateY(0%);
    overflow: hidden;
    position: absolute;
    transition: 0.3s;
}
.demo, #demo {
	width: calc(100% - 20px);
    height: 40px;
    /* visibility: hidden; */
    transform: translateY(0%);
    overflow: hidden;
    position: absolute;
    transition: 0.3s;
    background: #EBE8EE;
    z-index: 45;
}
.r {
    background-color: #F92D2D;
}
.f50 {
    flex-basis: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    position: relative;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgb(255 255 255 / 0%);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    z-index: 45;
}
.g {
    background-color: #44E132;
}
.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.div-w{
	position: relative;
    z-index: 50;
    background: white;
    padding-top: 7px;
    border-top: 2px solid #0F34F0;
}
.item-code:hover .demo{
	transform: translateY(-100%);
}
.f50 a{
	color: white;
	width: 100%;
	height: 100%;
}
.f50:hover{
  	border: 1px solid white;
    box-shadow: inset 0 0 20px rgb(255 255 255 / 50%), 0 0 20px rgb(255 255 255 / 20%);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}
.img-scroll{
	overflow: hidden;
	position: relative;
}
.img-scroll:after {
    background: #fff;
    content: "";
    height: 342px;
    left: -151px;
    opacity: 0.25;
    position: absolute;
    top: -39px;
    transform: rotate(158deg);
    transition: all 1.7s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
    visibility: visible;
}
.item-code:hover .img-scroll:after{
	z-index: 15;
	left: 150%;
	transition: all 1.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.item-code img{
	border: 1px solid #e1e1e1;
}
.download-code{
	color: #acacac;
}
.download-code i{
	transition: 0.3s;
}
.download-code:hover i{
	color: #C70C18;
	transform: scale(1.3);
}
.dt1{
	margin-left: 5px;
}
.margin-4{
	margin: 4px 0;
}
.more-btn{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 17px;
}
.m-43{
    margin-top: 50px;
}
.m-73{
    margin-top: 73px;
}
.ld-sellatwebsite .quick-registration {
    background: none;
    padding: 0;
    margin-top: -106px;
    z-index: 3;
    position: relative;
}
.register-bottom {
    text-align: center;
    padding: 30px 0 45px;
    color: #fff;
    position: relative;
}
 .bg-register {
    width: 100%;
    margin: 0 auto;
    padding: 35px 95px 45px;
    background-image: -moz-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -webkit-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -ms-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
 .reg-form input {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    width: 532px;
    color: #57575f;
    font-weight: 300;
    color: #575757;
    font-size: 16px;
}
 .btn-registration {
    background: transparent;
    height: 60px;
    line-height: 56px;
    border: solid 2px #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 50px;
    vertical-align: top;
}
.btn-registration {
    color: #fff;
    background-image: -moz-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -webkit-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -ms-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
    border-radius: 45px;
    display: inline-block;
    line-height: 63px;
    padding: 0 35px;
    outline: none;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: nowrap;
    font-size: 16px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.footer-copyright {
    background-color: #101215;
    color: #7d8492;
    padding: 5px 0;
    border-top: 1px
   solid #24282e;
    font-size: 13px;
    position: relative;
}
.footer-copyright .copyright {
    padding-top: 13px;
    padding-bottom: 7px;
    display: inline-block;
    font-size: 13px;
}
/*.d-none {
    display: none !important;
}*/
 .quick-registration h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}
.quick-registration label {
    font-weight: 300;
    font-size: 20px;
    color: #d8fff0;
    margin-bottom: 15px;
}
.industry-item__title{
  color: black;
  font-weight: 800;
}
#footer {
  background-color: #101215;
  color: #7d8492;
  padding: 0 0 30px 0;
  font-size: 14px;
  margin-top: -130px;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background-color: #101215;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #d1d3d6;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #e6573f;
}
#footer .footer-top {
  background-color: #101215;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #d1d3d6;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #7d8492;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background-color: #101215;
  color: #7d8492;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #e96b56;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #7d8492;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #e96b56;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-image: -moz-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -webkit-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -ms-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 3s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background-image: -moz-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -webkit-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  background-image: -ms-linear-gradient(108deg, #2576E3 0, #56ccf2 100%);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    height: calc((100% - 30px) / 2) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.title-itsp{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 21px;
}
.title-itsp:hover{
    color: var(--cui-primary, #321fdb) !important;;
}
.sam>*{
    color: #a0aec0;
    margin-right: 20px;
    font-size: 13px;
}
.it_help .swiper-slide .card{
    margin-bottom: 0px;
}
.swiper-pagination{
    position: relative!important;
    margin-top: 15px;
}
.industry-item_block {
    height: 100%;
    display: block;
    text-align: center;
    padding: 12px 5px 18px;
    margin: 0;
    background: #fff;
    border: 1px solid #d0f9ff;
    box-shadow: 0px 0px 21px 0px rgb(211 211 211 / 35%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.course-main {
    color: #20E3B2;
}
.course-coupon-text {
    font-weight: 300;
    font-size: 14px;
    color: #aeaeae;
    margin-right: 5px;
}
.c-w{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.c-b{
    color: black;
}
.course-price {
    font-weight: 600;
    font-size: 18px;
}
.title-lecture{
    font-size: 19px;
}
.mbt-15{
    margin: 15px 0;
}

.menu-avtr-box .user-img {
    float: left;
    margin-right: 7px;
    margin-top: 7px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: 55px;
    width: 55px;
    background-color: #FFF;
    border: 3px solid #FFF;
}

.menu-avtr-box .user-text {
    position: relative;
    padding-top: 5px;
}

.menu-avtr-box .user-text h4 {
    margin: 0;
    color: #FFF;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

.menu-avtr-box .user-text p {
    margin-bottom: 0;
    color: #FFF;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion {
    width: 100%;
    max-width: 768px;
    background: #FFF;
}
.dashboard-new ul {
    list-style: none;
    padding: 0;
}
.accordion li a {
    display: block;
    text-decoration: none;
    padding: 10px 5px 8px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777;
    transition: .3s;
}
.accordion li a:hover {
    background: #ffb64d!important;
    color: white;
}
#accordion li a i {
    width: 25px;
    text-align: center;
    margin-right: 5px;
}

.stat-box-meta .stat-box-meta-icon {
    width: 20%;
    float: left;
}

.stat-box-meta .stat-box-meta-text {
    width: 80%;
    float: left;
}
.stat-box-meta .stat-box-meta-text h4 {
    color: #FFF;
    margin: 0;
    font-weight: 500;
}
.stat-box-meta .stat-box-meta-text h3 {
    color: #FFF;
    margin: 0;
}
.stat-box p {
    margin-bottom: 0;
    color: #FFF;
    position: relative;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.box-alalysis {
    background-color: #002e5b;
}
.card-header-product {
    padding: 15px 25px;
}
.input-group-w {
    width: calc(100% + 200px)!important;
}

.input-group-w .input-group-append .form-select{
    border-radius: 2px;
}

.f-25 {
    font-size: 25px;
}

.color-w {
    color: #fff;
}

.hot-code {
    border-bottom: 1px solid #dddddd!important;
}
.text-h4-danger{
    color: #CD0E1A;
}
.code-price {
    color: #D5101C;
}
.color-b {
    color: #212529!important;
}
.color-view {
    color: #9F9F9F!important;
}
.code-hot-ul ul li{
    border-top: 1px solid #E4E4E4!important;
}
.blogs-l li a:hover {
    color: #4099ff!important;
}
.btn-download {
    background: linear-gradient(to top, #E50515, #EA0919);
    color: white;
    transition: .3s;
}
.btn-download:hover {
    background: linear-gradient(to top, #BE0310, #AF0410);
    color: white;
}
.c-g {
    color: #848383!important;
}
.b-r {
    border-right: 1px solid #E4E4E4!important;
}
.b-l {
    border-left: 1px solid #E4E4E4!important;
}
.border-radius-2px {
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    -ms-border-radius: 2px!important;
    -o-border-radius: 2px!important;
}
ul.list-news li.item-news {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: inside;
}
ul.list-news li.item-news a{
    color: #474747;
    font-weight: 500;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
ul.list-news li.item-news a:hover{
    color: #348ff8;
}